* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color:  #737373;
	font-family: sans-serif;
}

#level_title {
	font-size: 18px;
	color: black;
	font-weight: bold;
}

main{
	text-align: center;
}
button{
  color: Purple;   /* Green */ /*#4CAF50*/
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
}

button { background: transparent; border: none !important; font-size:23px; }

#option1{
	position: absolute;
     right: 70%;
     width: 180px;
     top: 10;
}
#option2{
	position: absolute;
		 right: 45%;
		 width: 180px;
		 top: 10;
}

#option3{
	position: absolute;
		 left: 70%;
		 width: 180px;
		 top: 10;
	 }
